body, html
{
    width: 100%;
    height: 100%;
}

.div_sections
{
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-left: 23vw;
    width: 50vw;
}

.texte
{
    display: inline;
    /* margin-right: 20vw; */
    padding-top: 3vh;
}

.centrer_txt
{
    text-align: center;
}

.bordures
{
    border-top: 1px solid lightgrey;
}

#bouton_modal
{
    width: 10rem;
    height: 5rem;
}